/* App.css */

/* Header styling */
.header {
  background-color: #ffffff;
  color: #4b5665;
  padding: 20px 50px 20px 50px;
  height: auto;
}

.header h1 {
  font-size: 30px;
  padding: 20px;
  font-weight: 400px;
  color: #1d2430;
}

/* Info section (left and right) */
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.info img {
  margin-right: 10px;
  margin-top: 5px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  padding: 20px 50px 0px 50px;
}

.navigation p {
  font-size: 15px;
  margin-right: 20px;
}

.navigation-bottom {
  display: flex;
  justify-content: space-between;
}

.navigation-bottom img {
  height: 14px;
  margin-left: 5px;
}

.div1 img,
.div2 img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.div1,
.div2 {
  display: flex;
  justify-content: flex-start;

  font-size: 2px;
}
.div1 {
  margin-left: 20px;
  width: 280;
}
.div2 {
  left: -20px;
  width: 240px;
}

.div1 p,
.div2 p {
  margin: 0;

  margin-bottom: 20px;
}
.right {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
  padding: 2px;
}
.right img {
  width: 10px;
  height: 10px;
  margin-left: px;
}
.centered-hr {
  width: 97%;
  margin: 0 auto;

  color: #8f8f91;
}
.navigation-bottom {
  margin-left: 2rem;
}
